src/main/app/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8082" doc:name="HTTP Listener Configuration"/>
    <flow name="sampleFlow"> 
        <http:listener config-ref="HTTP_Listener_Configuration" path="/demo" doc:name="HTTP" allowedMethods="POST"/>
        <logger message="In Flow....modified" level="INFO" doc:name="Logger"/>
        <validation:is-null value="#[payload]" doc:name="Validation"/>
        <exception-strategy ref="sampleChoice_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <choice-exception-strategy name="sampleChoice_Exception_Strategy">
        <catch-exception-strategy when="#[exception.causedBy(org.mule.extension.validation.api.ValidationException)]" doc:name="Catch Exception Strategy">
            <logger message="In catch...... " level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
        <catch-exception-strategy doc:name="Catch Exception Strategy"/>
    </choice-exception-strategy>
</mule>
